<div *ngIf="lat && lng">
  <agm-map [zoom]="17" [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="{
      url: 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Map_pin_icon_green.svg/352px-Map_pin_icon_green.svg.png',
      scaledSize: {
          width: 25,
          height: 32
      }
  }">
      <agm-info-window>
        <h3><strong>MTCC</strong></h3>
        <p>Nice!!!!!</p>
      </agm-info-window>
    </agm-marker>

    <agm-marker [latitude]="kaplanLat" [longitude]="kaplanLng" [iconUrl]="{
      url: 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Map_pin_icon_green.svg/352px-Map_pin_icon_green.svg.png',
      scaledSize: {
          width: 25,
          height: 32
      }
  }">
      <agm-info-window>
        <h3><strong>Kaplan Institute</strong></h3>
        <p>Tested</p>
        <p>Found no Lead in the Water.</p>
      </agm-info-window>
    </agm-marker>

  </agm-map>
</div>

